.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f4f4f4;
  }
  
  .title {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-btn {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: #1e90ff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0066cc;
  }
  /* .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  
  .close-btn:hover {
    color: #ff0000;
  }
  
  