body {
    font-family: Arial, sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?Denver');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .weather {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .city {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  
  .temp,
  .humidity,
  .wind {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .search {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: lightblue;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .loading {
    display: none;
  }
  .logout-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  .headingStyle {
    display: inline-block;
    font-size: 35px;
  }
  
  